Checks: >
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  modernize-*,
  -bugprone-forwarding-reference-overload,
  -bugprone-lambda-function-name,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -google-explicit-constructor,
  -hicpp-multiway-paths-covered,
  -misc-confusable-identifiers,
  -misc-no-recursion,
  -modernize-avoid-c-arrays,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type
WarningsAsErrors: 'true'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: google